@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --background: #131314;
    --background-header: #1a1a1c;
    --background-header-column: #1a1a1c;
    --background-column: #131314;
    --font-color: #fa6d4c;
    --second-color: #fff;
    --third-color: #bdbdbd;
    --button-color: #1a1a1c;
    --button-font-color: #fa6d4c;
    --button-color-hover: #131314;

    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--background);
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure it's above other content */
    width: 100%;
    box-shadow: 0px 6px 11px 3px rgba(0,0,0,0.64);
    -webkit-box-shadow: 0px 6px 11px 3px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 6px 11px 3px rgba(0,0,0,0.64);
}

.header, .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--background-header);
    padding: 0px 0;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px 0;
}

.flex-container-prosjekter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    height: 450px;
}

.flex-container-prosjekter .column p {
    margin-top: 200px;
    color: var(--second-color);
    font-size: 1.0em;
    font-weight: var(--font-bold);
    text-align: left;
    align-self: center;
    text-transform: uppercase;
}


.flex-container-meg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    height: 550px;
}

.flex-container-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    height: 550px;
}

.flex-container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    height: 100px;
    margin-bottom: 20px;
}

.flex-container-title .column p {
    margin-left: 20px;
    margin-top: 20px;
    color: var(--third-color);
    font-size: 1.0em;
    font-weight: var(--font-normal);
    text-align: left;
}

.flex-container-title .column p em {
    color: var(--second-color);
    font-style: normal;
}

.flex-container-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    height: auto;
    margin-bottom: 20px;
}

.flex-container-overview .column p {
    margin-left: 20px;
    margin-top: 20px;
    color: var(--third-color);
    font-size: 1.0em;
    font-weight: var(--font-normal);
    text-align: left;
}

.flex-container-overview .column p em {
    color: var(--second-color);
    font-style: normal;
}

.flex-container-context {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.flex-container-context .column p {
    margin-left: 20px;
    margin-top: 20px;
    color: var(--third-color);
    font-size: 1.0em;
    font-weight: var(--font-normal);
    text-align: left;
}

.flex-container-context .column p em {
    color: var(--second-color);
    font-style: normal;
}

.header .column, .footer .column, .landing-page .column {
    flex: 1;
    text-align: center;
    background-color: var(--background-column);
    margin: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}


/* Specific styles for header */
.header .column {
    background-color: var(--background-header-column);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    font-size: 1.0em;
    font-weight: var(--font-medium);
}


/* Header text hover effect */
.header .column .header-text {
    transition: transform 0.3s, color 0.3s;
}

.header .column .header-text:hover {
    color: var(--second-color);
    cursor: pointer;
}

/* Add spacing between the two flex containers in the landing page */
.landing-page .flex-container + .flex-container {
    margin-top: 20px;
}

.landing-page .column {
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}



/* Logo styles */
.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    align-self: center;
}

.logo-1, .logo-2, .logo-3, .logo-4, .logo-5, .logo-6, .logo-7 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    align-self: center;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

/* Column link styles */
.column-link {
    position: relative; /* Make position relative for absolute positioning of the button */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items to the bottom */
    height: 100%;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/* Position Button 1 at the bottom */
.column-link .column-button {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}




/* Specific styles for footer */
.footer .column {
    background-color: var(--background-header-column);
    height: 80px;
}

.footer .column p {
    color: var(--second-color);
    font-size: 0.9em;
    font-weight: var(--font-normal);
    text-align: center;
    margin-top: 30px;
}



/* Button styles */
.column-button {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--button-font-color);
    font-weight: var(--font-medium);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.column-button:hover {
    background-color: var(--button-color-hover);
    color: var(--second-color);
}



/* Column link styles */
.column-link {
    position: relative; /* Make position relative for absolute positioning of the button */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items to the bottom */
    height: 100%;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s ease-in-out;
}

/* Hover effect for the image */
.column-link:hover {
    /* transform: scale(1.05); Slight zoom effect */
    cursor: pointer;
}

/* Enlarged image styles */
.column-link.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-size: contain; /* Ensure the image fits within the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
}




.flex-container-video {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    height: 450px;
}

.video-player {
    width: 600px;
    max-width: 100%;
    height: 100%;
    border: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: var(--button-color);
    color: var(--button-font-color);
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: var(--button-color-hover);
    color: var(--second-color);
}













.flex-container-waves {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0px 0;
    height: 150px;
    position: relative; /* Added to ensure it takes up the full width */
    overflow: hidden; /* Ensure no overflow */
}

.waves {
    position: absolute; /* Positioned absolutely to ensure it covers the full width */
    bottom: 0;
    left: 0;
    width: 100%; /* Full width */
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
    height:40px;
    min-height:40px;
    }
}


@media (max-width: 1200px) {
    .flex-container-prosjekter {
        height: 350px;
    }

    .flex-container-title .column:nth-child(2),
    .flex-container-title .column:nth-child(3) {
        flex-grow: 2;
    }
    .flex-container-overview .column:nth-child(2),
    .flex-container-overview .column:nth-child(3) {
        flex-grow: 2;
    }
    .flex-container-content .column:nth-child(2),
    .flex-container-content .column:nth-child(3) {
        flex-grow: 2;
    }
    .flex-container-context .column:nth-child(2),
    .flex-container-context .column:nth-child(3) {
        flex-grow: 2;
    }
    .flex-container-video .column:nth-child(2) {
        flex-grow: 2;
    }
}


@media only screen and (max-width: 992px) {
    .flex-container-title .column:nth-child(2),
    .flex-container-title .column:nth-child(3) {
        flex-grow: 2;
    }
    .flex-container-overview .column:nth-child(2),
    .flex-container-overview .column:nth-child(3) {
        flex-grow: 2;
    }
    .flex-container-content .column:nth-child(2),
    .flex-container-content .column:nth-child(3) {
        flex-grow: 2;
    }
    .flex-container-context .column:nth-child(2),
    .flex-container-context .column:nth-child(3) {
        flex-grow: 2;
    }
    .flex-container-video .column:nth-child(2) {
        flex-grow: 2;
    }

    .flex-container-meg, .flex-container-title, .flex-container-overview, .flex-container-context, .flex-container-video, .flex-container-waves {
        height: auto;
        margin: 10px 0;
    }

    iframe.video-player {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}


@media only screen and (max-width: 768px) {
    .flex-container-meg, .flex-container-title, .flex-container-overview, .flex-container-context, .flex-container-video, .flex-container-waves {
        flex-direction: column;
        height: auto;
        margin: 10px 0;
    }

    .flex-container-content {
        flex-direction: column;
        height: 800px;
        margin: 20px 0;
    }

    .flex-container-content .column:nth-child(1),
    .flex-container-content .column:nth-child(4) {
        display: none;
    }

    iframe.video-player {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}



/*
@media (max-width: 768px) {
    .flex-container-title {
        flex-direction: column;
        height: 300px;
    }
    .flex-container-overview {
        flex-direction: column;
        height: 800px;
    }

    .flex-container-content {
        flex-direction: column;
        height: 1200px;
        justify-content: space-evenly;
    }
    .flex-container-context {
        flex-direction: column;
        height: 300px;
    }
}
*/